extends layout

block content
  h1= title
  p Welcome to #{title}

  p 
     |Try accessing 
     a(href="/restricted") /restricted
     |, then authenticate with "tj" and "foobar".

  form(action='/login',method='post')
    div
      label(for='username') Username
      input(id='username',type='text',value='',name='username')

    div
      label(for='password') Password
      input(id='password',type='password',value='',name='password')

    div
      button.btn.btn-primary(type='submit') Login

